@import url(https://db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A);

.body {
  /* font-family: 'Open Sans'; */
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Open Sans; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: "100vh"; */
  border: "1px solid purple"
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Open Sans';
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f150;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f170;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-input {
  border: 1px solid #00000040;
}

.ant-input:hover {
  border: 1px solid #000000;
}
/* .ant-select-selection-item {
  font-weight: 900;
}

.ant-select-selection {
  background-color: green;
}

.ant-select-selection-selected-value {
  font-size: 20px;
}

.ant-input-affix-wrapper.ant-input-password {
  border: none;
}

.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
} */